body {
	/*background-color: #ffffff;*/
	background-image: url('images/paper.jpg');
	background-size: 100%;
}

.pic {
      margin: auto;
      
}

.score-board {
  text-align: center;
  padding: 25px;
}
.player {
  display: inline-block;
  padding: 15px;
}
.player h4 {
  font-weight: bold;
  color: red;
}
.score-box {
  border: 3px solid black;
  border-radius: 25px;
  padding: 30px;
  
  color: yellow;
}
 
 /*// gameboard //*/
#board {
	padding: 2em;
	background-color: #65F0F7;
	margin: 75px auto;
	border-radius: 3em;
	display: none;
}

.column {
	display: inline-block;
	margin: 0 0.5em;
}

.space {
	height: 5em;
	width: 5em;
	border-radius: 100%;
	background-color: #ffffff;
	/* Needs to be same color as body */
	margin: 1em 0;
	opacity: 0;
}
h1{
  text-align: center;
  font-size: 12;
  color:red;
}

h2{
  text-align:center;
  word-wrap: break-word;
  color: red;
}

p {
	text-align: center;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 5em;
	/*display: none;*/
}

#footer {
	font-family: Georgia;
}

.empty {
	color: #FFFFFF;
}

/*// player chips, red or black //*/

.player1 {
	color: #D91C1C;
	background-color: #D91C1C;
}

.player2 {
	color: #000000;
	background-color: #000000;
	/*Can always try black*/
}

td {
	text-align: center;
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	padding: 0.2em 0.5em;
}

.controls {
	position: relative;
	width: 6em;
	margin: auto;
	top: -7em;

}
