 h1 {
	text-align: center;
}

p {
	text-align: center;
	color: red;
}

img {
	background-color: yellow;
}

.flex-rectangle{
    width: %;
    background: #00ffff;
    margin: 70px;
}

.flex-rectangle:before{
    content: "";
    display: block;
    padding-top: 50%;
}

.circle-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin:px;
  padding:10px;
  
}

.circle {
  -webkit-box-flex: 0.09;
      -ms-flex: 0.09;
          flex: 0.09;
  background: 000000;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  
}

.circle:before {
  content: "";
  display: block;
  padding-top: 100%; 
  
}



